<!DOCTYPE html>
<html>
<head>
	<!--指定字符的meta标签必须是head的第一个直接子元素-->
	<meta charset="utf-8">
	<!--启用IE Edge模式-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
	<title>社团通</title>
	<link rel="stylesheet" href="css/style.css">
	<style>
		form {
			width: 600px;
			height: 500px;
			margin: 30px auto;
			text-align: center;
		}
		input {
			width: 500px;
			height: 40px;
			border: 1px solid #ccc;
			border-radius: 2px;
			outline: none;
			margin: 10px auto;
			padding-left: 20px;
		}
	</style>
</head>
<body>
	<a href="index.html"><h1 class="web-size">logo</h1></a>
	<hr>
	<form action="register">
		<input type="text" placeholder="请输入正确的学号">
		<input type="text" placeholder="请输入正确的邮箱">
		<input type="text" placeholder="请设置密码">
		<input type="submit" placeholder="注册">
	</form>
</body>
</html>